{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{{ livro.titulo }}</h1>
    <p><strong>Autor:</strong> {{ livro.autor }}</p>
    <p><strong>Gênero:</strong> {{ livro.genero }}</p>
    <p><strong>Disponível:</strong> {{ livro.disponivel|yesno:"Sim,Não" }}</p>

    {% if livro.disponivel %}
    <a href="{% url 'solicitar_emprestimo' livro.pk %}" class="btn btn-success">Solicitar Empréstimo</a>
    {% else %}
    <a href="{% url 'criar_reserva' livro.pk %}" class="btn btn-warning">Reservar Livro</a>
    {% endif %}
</div>
{% endblock %}
