{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Lista de Livros</h1>
    <form method="get" class="mb-3">
        <input type="text" name="busca" placeholder="Buscar livros..." class="form-control" value="{{ request.GET.busca }}">
    </form>
    <div class="row">
        {% for livro in livros %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ livro.titulo }}</h5>
                    <p class="card-text">Autor: {{ livro.autor }}</p>
                    <a href="{% url 'detalhes_livro' livro.pk %}" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
